@import "../../css/variables";

:global(.hwrld).hwrld {
    background-color: #f1f1f1;
    float: left;    
    padding: 10px 20px;
    z-index: 9000;
    width: 100%;
}

@media (max-width: $break-medium) {
    :global(.hwrld).hwrld {

    }
}
