@import '../../css/variables';

.hwrld {
	background-color: #ffffff;
	border-top: 1px dotted $color-text;
	max-width: $break-large; 
	.title {
		font-size: 16px;
		margin-top: 20px;
		text-align: center;
	}

	.list {
		
		border-bottom: 1px dotted $color-text;
	}

	.list-item {
		padding: 10px 0;
		position: relative;
		text-align: center;
	}

	.cta {
		background-color: transparent;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	.depart {
		font-size: 14px;
	}

	.from-txt {
		font-size: 12px;
	}

	.price {
		color: $color-secondary;
		font-size: 16px;
		font-weight: bold;
	}

	i {
		background: url($bkgd-base-url + "/l/Images/hwrld-widget/widget-icons.svg") -210px 0 no-repeat;
		display: inline-block;
		height: 13px;
		width: 13px;
	}
	
}

@media (max-width: $break-medium - 1px) {
	.hwrld {
		.title {
			text-align: left;
		}
		
		.list {		
			padding-left: 0;
			padding-bottom: 20px;
		}

		.list-item {
			text-align: left;
		}
		
	}
}